[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
mkdocs-git-revision-date-plugin = "*"
mkdocs-jupyter = "*"
mkdocs-pdf-export-plugin = "*"
mkdocs-render-swagger-plugin = "*"

[dev-packages]

[requires]
python_version = "3.9"
